# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [2]:
afterthreeyears = 11 # 3 yıl sonra iki cocuk toplamda 6 yas buyur
baba = (afterthreeyears*3) - 3
print(baba)

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [2]:
ourtext = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."
ourtext = ourtext.lower()
makeupper = "veri bilim".upper()
ourtext = ourtext.replace("veri bilim",makeupper)
print(ourtext)

VERI BILIMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (ai) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERI BILIMiyle uğraşan kişilere VERI BILIMci denir. bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [3]:
print("Rumeysa" + " Yurtseven " + str(22) + " Istanbul " + str(3.32))

Rumeysa Yurtseven 22 Istanbul 3.32

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [4]:
text1 = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
words = text1.split()
words1 = words[0] + ' ' + words[1] + '\n'
words2 = words[6] + ' ' + words[7] + '\n'
print(len(words1)*words1)
print(len(words2)*words2)

Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi
Veri bilimi

alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.
alanlardan biridir.

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [41]:
text1 = "veri bilimi"
text2 = "VERİ BİLİMİ"
print(text1.islower()) #check if it is lower
print(text1.isupper()) #check if it is upper

print(text2.isupper())
print(text2.islower())

True
False
True
False

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [4]:
listem = ["Rumeysa", "Yurtseven", 22, "Istanbul", 3.32]

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [5]:
listem2 = listem[2:]
print(listem2)

[22, 'Istanbul', 3.32]

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [6]:
for i in listem2:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [7]:
eklenecek_liste = ["Ali", 90, "Mehmet"]

In [8]:
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2 = listem2 + eklenecek_liste
listem2

[22, 'Istanbul', 3.32, 'Ali', 90, 'Mehmet']

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [9]:
listem3 = listem2[3:5]
listem3

['Ali', 90]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [10]:
listem2 = listem2 + [listem3]
listem2

[22, 'Istanbul', 3.32, 'Ali', 90, 'Mehmet', ['Ali', 90]]

12- "listem2" içerisinden 90 elemanını siliniz.

In [11]:
del listem2[4]
listem2

[22, 'Istanbul', 3.32, 'Ali', 'Mehmet', ['Ali', 90]]

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [12]:
yeni_liste = list(range(1,11))
yeni_liste.reverse()
yeni_liste

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [26]:
print(yeni_liste.index(7))
print(yeni_liste.index(2))

3
8

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [13]:
tuple1 = tuple(listem2)
tuple1

(22, 'Istanbul', 3.32, 'Ali', 'Mehmet', ['Ali', 90])

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

In [14]:
temp_list = list(tuple1)  #temporary list
temp_list[3] = "Veli"
tuple1 = tuple(temp_list)
print(tuple1)

(22, 'Istanbul', 3.32, 'Veli', 'Mehmet', ['Ali', 90])

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [17]:
yeni_tuple = []
for i in range(10,0,-1):
    yeni_tuple.append(i)
yeni_tuple = tuple(yeni_tuple)
yeni_tuple

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [18]:
print(list(yeni_tuple).index(7))
print(list(yeni_tuple).index(2))

3
8

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [19]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
dict_set = set() #set from dictionary
for key in dictionary:
    dict_set.add(dictionary[key][0])
    
dict_set

{'MSE', 'RMSE', 'SSE'}

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [20]:
dictionary["CART"][1] = 30
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [34]:
dictionary["RF"] = ["SSE", 50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [35]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]
set1 = set(liste1)
print(set1)

{'Ali', 'Mehmet', 10, 20, 'Ayşe'}

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

In [ ]:
print(list(set1)[4])
print(list(set1)[6])

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [ ]:
set1.discard("Ali")
set1.add("Veli")

set1.discard(10)
set1.add(40)

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [22]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [38]:
print(set1.difference(set2))

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [39]:
print(set2.difference(set1))

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [40]:
print(set1.symmetric_difference(set2))

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [41]:
print(set2.intersection(set1))

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [42]:
print(set2.union(set1))

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [23]:
set1.union(set2).isdisjoint(set2)

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [44]:
print(set1.issubset(set2))

False

In [45]:
print(set2.issubset(set1))

False

25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint())

In [46]:
print(set1.isdisjoint(set2))

False

In [6]:
maaslar = [1000,2000,3000,4000,5000]

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [30]:
maaslar = [1000,2000,3000,4000,5000]
zamlı_maaslar = []
def zam(x):
    return  x + (x*20)/100
for i in (maaslar):
    new = zam(i)
    zamlı_maaslar.append(new)
zamlı_maaslar

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [31]:
def vergi(num):
    if num < 2500:
        num = num - 50
    else:
        num -= 100
    return num

for i in range(len(maaslar)):
    zamlı_maaslar[i] = vergi(zamlı_maaslar[i])
zamlı_maaslar

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [32]:
students = ["John", "Mark", "Venessa", "Mariam"]

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [35]:
even = [] #cift sayılı
odd = []  #tek sayılı
for index, student in enumerate(students):
    print(index, student)
    if index % 2 == 0:
        even.append(student)
    else:
        odd.append(student)
        
print(even)
print(odd)

0 John
1 Mark
2 Venessa
3 Mariam
['John', 'Venessa']
['Mark', 'Mariam']

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [51]:
def changing(letter):
    new_str = ""
    for i in range(len(letter)):
        if i % 2 == 0:
            new_str += letter[i].upper()
        else:
            new_str += letter[i].lower()

    print(new_str)

changing("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [8]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [36]:
def alternating(string):
    new_string = ""

    for string_index, string in enumerate(string):
        if string_index % 2 == 0:
            new_string += string.upper()
        else:
            new_string += string.lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [40]:
X = str(input())
Y = int(input())
print("Merhaba benim ismim {}, \n{} yasındayım!".format(X, Y))

 Rumeysa
 22

Merhaba benim ismim Rumeysa,
22 yasındayım!